:root {
  --input-border-radius: 8px;
  --input-border: 1px solid transparent;
  --input-padding: 0.6em 1.2em;
  --input-font-size: 1em;
  --input-font-weight: 500;
  --input-font-family: inherit;
  --input-color: #0f0f0f;
  --input-background-color: #ffffff;
  --input-transition: border-color 0.25s;
  --input-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input {
  border-radius: var(--input-border-radius);
  border: var(--input-border);
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  font-family: var(--input-font-family);
  color: var(--input-color);
  background-color: var(--input-background-color);
  transition: var(--input-transition);
  box-shadow: var(--input-box-shadow);
}
