// Define sizes
$spacing-sizes: (
  xs: 4px,
  s: 8px,
  m: 16px,
  l: 24px,
  xl: 32px,
);

// Mixin for margin
@mixin margin($size: medium, $direction: null) {
  @if $direction {
    margin-#{$direction}: map-get($spacing-sizes, $size);
  }

  @else {
    margin: map-get($spacing-sizes, $size);
  }
}

// Mixin for padding
@mixin padding($size: medium, $direction: null) {
  @if $direction {
    padding-#{$direction}: map-get($spacing-sizes, $size);
  }

  @else {
    padding: map-get($spacing-sizes, $size);
  }
}

// Example usage
// .element {
//   @include margin(x-small, top);
//   @include padding(large, right);
// }
