// Define sizes
$spacing-sizes: (
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 32px,
);

// Mixin for margin
@mixin margin($size: md, $direction: null) {
  @if $direction {
    margin-#{$direction}: map-get($spacing-sizes, $size);
  }

  @else {
    margin: map-get($spacing-sizes, $size);
  }
}

// Mixin for padding
@mixin padding($size: md, $direction: null) {
  @if $direction {
    padding-#{$direction}: map-get($spacing-sizes, $size);
  }

  @else {
    padding: map-get($spacing-sizes, $size);
  }
}

// Gap for padding
@mixin gap($size: md) {
  grid-gap: map-get($spacing-sizes, $size);
}

// Example usage
// .element {
//   @include margin(xs, top);
//   @include padding(lg, right);
//   @include gap(lg);
// }
