:root {
    --h1-size: 80px;
    --h2-size: 60px;
    --h3-size: 50px;
    --h4-size: 40px;
    --h5-size: 30px;
    --p-size: 20px;

    --line-height: normal;
    --font-weight: normal;
    --font-color: inherit;
    --font-display: inline-block;
}

@mixin apply-typography($element, $size, $line-height: normal, $font-weight: normal) {
    #{$element} {
        font-size: $size;
        line-height: $line-height;
        font-weight: $font-weight;
        display: var(--font-display);
        color: var(--font-color);
    }
}

@include apply-typography('h1', var(--h1-size), var(--line-height), var(--font-weight));
@include apply-typography('h2', var(--h2-size), var(--line-height), var(--font-weight));
@include apply-typography('h3', var(--h3-size), var(--line-height), var(--font-weight));
@include apply-typography('h4', var(--h4-size), var(--line-height), var(--font-weight));
@include apply-typography('h5', var(--h5-size), var(--line-height), var(--font-weight));
@include apply-typography('p', var(--p-size), var(--line-height), var(--font-weight));
