// Colors
$white: #eeeeee;
$robin-egg-blue: #52d1dcff;
$sunglow: #ffd166ff;
$cordovan: #904e55ff;
$wenge: #564e58ff;
$eerie-black: #252627ff;

// Media size
$phone: 567px;
$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;
